//underline on hover
h2 {
  display: inline-block;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6583;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-title {
  p {
    animation-delay: 0s;
    animation-duration: 2.3s;
    animation-name: slideInFromLeft;
  }

  // welcome text
  .animation-text {
    h3,
    h4 {
      span {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        transform: translateY(-50px);
        opacity: 0;
        animation-timing-function: ease;
        animation-duration: 3s;
      }
    }

    h3 span {
      animation-name: titleAnimation;
      animation-delay: 1.6s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      &:first-child {
        animation-delay: 1.7s;
        color: #fff;
        text-shadow: 1px 1px #000;

        font-size: 2rem;
      }
      &:nth-child(2) {
        color: #fff;
        text-shadow: 1px 1px #000;
        font-size: 2rem;
      }
      &:last-child {
        color: #ff6583;
        text-shadow: 1px 1px var(--background-color);
        font-size: 4rem;
        animation-delay: 1.5s;
        padding-bottom: 0.5rem;
      }
    }

    h4 {
      top: 0;
      position: absolute;

      span {
        animation-delay: 5.1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-name: titleAnimation2;
        &:first-child {
          animation-delay: 5.2s;
          color: #fff;
          text-shadow: 1px 1px #000;
          font-size: 2.2rem;
        }
        &:nth-child(2) {
          color: #fff;
          text-shadow: 1px 1px #000;
          font-size: 2.2rem;
        }
        &:last-child {
          color: #ff6583;
          text-shadow: 1px 1px var(--background-color);
          font-size: 4rem;
          animation-delay: 5s;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}
@keyframes titleAnimation2 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

.animate-loader {
  animation: 3s fadeinout;
}

#transition {
  opacity: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  animation: 4s fadeout;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  img {
    height: 80%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}
