/* Dark theme */
:root {
  --background-color: black;
  --text-color: rgb(255, 255, 255);
  --text-color-secondary: #000000;

  --background-home: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 106, 255, 0.7) 100%
  );
  --background-card: rgba(0, 0, 0, 0.9);
  --background-skills: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 1) 90%
  );
  --footer-shadow: #000;
  --hsla-shadow: 2px 10px 30px hsla(0, 0%, 100%, 0.07);

  --background-img-treeline: url('../images/treeline.png');
  --background-img-cave: url('../images/cave.png');
  --background-img-watercolors: url('../images/watercolors.jpg');
  --background-img-layers: url('../images/layers.jpg');

  --video: url();
  --navigation-img-circle: url('../images/circle.svg');
  --navigation-img-circlefill: url('../images/circle-fill.svg');
  --github-img: url('../images/github.svg');
  --link-img: url('../images/link.svg');
}

/* Light theme */
.theme-light {
  --background-color: rgb(243, 248, 255);
  --text-color: rgb(0, 0, 0);
  --text-color-secondary: #e7e7e7;

  --background-home: linear-gradient(
    0deg,
    rgba(0, 149, 255, 0.56) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  --background-card: rgb(243, 248, 255, 0.9);
  --background-skills: linear-gradient(
    0deg,
    rgba(129, 175, 255, 0.15) 0%,
    rgb(243, 249, 255) 90%
  );
  --footer-shadow: rgba(243, 248, 255, 0.416);
  --hsla-shadow: 2px 10px 20px #00000040;

  --background-img-treeline: url('../images/treeline-light.png');
  --background-img-cave: url('../images/cave-light.png');
  --background-img-watercolors: url('../images/watercolors-light.jpg');
  --background-img-layers: url('../images/layers-light.jpg');

  --navigation-img-circle: url('../images/circle-light.svg');
  --navigation-img-circlefill: url('../images/circle-fill-light.svg');
  --github-img: url('../images/github-light.svg');
  --link-img: url('../images/link-light.svg');
}
